[Unit]
Description=What you Learned In todays Lecture

[Service]
WorkingDirectory=/home/ubuntu/wil
ExecStart=/bin/sh start.sh
ExecStop=/bin/sh stop.sh
StandardOutput=append:/home/ubuntu/wil/log/wil.log
StandardError=append:/home/ubuntu/wil/log/wil.log
TimeoutSec=300
User=ubuntu
Type=simple

[Install]
WantedBy=multi-user.target
